PORT=1337
SALT_ROUNDS=10
JWT_SECRET=change-me-before-production
JWT_EXPIRES_IN=7d
DATABASE_URL="file:./dev.db"
# CORS_ORIGIN=http://localhost:5173
APP_BASE_URL=http://localhost:5173
STRIPE_SECRET_KEY=sk_test_xxx
